<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>История чтения</title>

    <link rel="stylesheet" type="text/css" href="css/base_style.css">
    <link rel="stylesheet" type="text/css" href="css/buttons_style.css">

    <!-- Глобальные переменные внутри скриптов -->
    <script th:inline="javascript">
        var chosenRow = null;
        var choseFild = null;
    </script>

    <script th:inline="javascript" type="module" src="javaScript/Init.js"></script>
</head>
<body>
<div id="topBar">
    <h3><a href="..">Назад</a></h3>
</div>
<br>
<table border="1" class="table" id="mainTable" name="readerhistory" d_PKName="id">
    <thead>
    <tr class="attributes">
        <!-- Заголовки таблицы -->
        <th name="isbn" d_updateType="chose" d_extandBy="book" >
            Книга
        </th>
        <th name="id_reader" d_updateType="chose" d_extandBy="reader" >
            Читатель
        </th>
        <th name="date" d_updateType="date" >
            Дата прочтения
        </th>
    </tr>
    </thead>
    <tbody>
    <!-- Тело таблицы, заполняется в Init.js -->
    </tbody>
</table>

<div class="mainButtons">
    <button type="button" name="delete" class="delete" id="deleteBtn">Удалить</button>
    <button type="button" name="update" id="updateBtn">Редактировать</button>
    <button type="button" name="insert" id="insertBtn">Добавить</button>
</div>

<!-- ___ Модальные окна ___ -->
<!-- Модальное окно редактирования -->
<dialog class="modal" id="updateRow">
    <form>
        <h2>Редактор записей</h2>

        <table border="1" class="table" id="updateTable">
            <!-- Таблица полностью заполняется автоматически-->
        </table>

        <div style="text-align: center;">
            <button class="dialog_button" id="submit" formmethod="dialog">
                Применить
            </button>
            <button class="dialog_button" id="cancel" formmethod="dialog">
                Отмена
            </button>
        </div>
    </form>
</dialog>

<!-- Модальное окно добавления записи -->
<dialog class="modal" id="insertRow">
    <form>
        <h2>Добавить новую запись</h2>

        <div>
            <label>Выберите книгу:</label>
            <input type="text" d_dbName="isbn" d_inputType="choce" d_nullable="false" d_extandBy="book" readonly />
        </div>
        <div>
            <label>Выберите читателя:</label>
            <input type="text" d_dbName="id_reader" d_inputType="manual" d_nullable="false" d_extandBy="reader" readonly />
        </div>
        <div>
            <label>Дата прочтения:</label>
            <input type="date" d_dbName="date" d_inputType="manual" d_nullable="false" />
        </div>

        <div style="text-align: center;">
            <button type="button" name="submit" formmethod="dialog">
                Добавить
            </button>
            <button name="cancel">
                Отмена
            </button>
        </div>
    </form>
</dialog>

<!-- Модальное окно подтверждения удаления -->
<dialog class="modal" id="submitDeleting">
    <form id="form">
        <h2>Вы уверены, что желаете удалить запись?</h2>

        <button name="submit" formmethod="dialog" class="delete">
            Подтвердить
        </button>
        <button name="cancel" formmethod="dialog">
            Отменить
        </button>
    </form>
</dialog>

<!-- Модальное окно выбора записи -->
<dialog class="modal" id="choseRowMF">
    <form>
        <h2>Выберите подходящую запись:</h2>

        <table border="1" class="table" id="choseTable">
            <!-- Таблица полностью заполняется автоматически-->
            <thead>
            <tr class="attributes"></tr>
            </thead>
            <tbody></tbody>
        </table>
    </form>
</dialog>
</body>
</html>