body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 48px;
    line-height: 48px;
    color: Brown;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    font-size: 28px;
    line-height: 25px;
    color: Brown;
}

h3 {
    font-size: 18pt;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#topBar {
    padding: 1px;
    height: 60px;
    background-color: darkgray;
}

.mainButtons {
    text-align: center;
}

input {
    border: 1px solid #000000;
    border-bottom: 2px solid #000000;
    width: 100%;
    font-size: 26px;
    line-height: 20px;
    height: 50px;
    text-align: center;
    background: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    font-size: 15pt;
}

/*---Главная таблица---*/
.table {
    margin: auto;
}

.table .data {
    font-size: 24px;
    color: Black;
    text-align: center;
}

.table .attributes {
    text-align: center;
    font-size: 26px;
    color: Brown;
}

.table th {
    padding: 9px 18px 9px 18px;
}

.table td {
    text-align: center;
    padding: 8px;
    font-size: 20px;
}

#mainTable tbody tr:hover {
    background: #EEE
}

#choseTable tbody tr:hover {
    background: #EEE
}